extends layout

block content
  .error
    .hero
      h1= err.message

      .message
        pre= err.stack
      
      h3 Sorry about that
      p Looks like our server encountered an error.  Feel free to <a href=".">try again</a>.