extends layout

block content
  .home
    .hero
      div
        h3 Find the perfect someone to lay down roots with
        form(action='/auth/register' method='post')
          h1 Join Timbr
          p Timbr is the world's largest dating network for trees.

          .entry
            label(for='name') Name:
            input(name='name')

          .entry
            label(for='email') Email:
            input(name='email')

          .entry
            label(for='password') Password:
            input(name='password' type='password')

          button(type='submit') Join Timbr
    .text
      h2 Recently created profiles:
      .matches 
        for suggestion in recents
          a(href='/profile/' + suggestion._id).match
            div
              img(src='/images/profile/' + suggestion._id)
              div
                h4= suggestion.name
            .interests
              - let interests = suggestion.interests.slice(0, 5)
              if interests.length > 0
                for interest in interests
                  span.interest.shared= interest