<!doctype html>
html
  head
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    title= title || 'Timbr'
  body
    .header
      .title
        h1
          a(href='/')
            <i class="fas fa-leaf"></i>
            | Timbr
            span .top
      .menu
        if user
          span.name= user?user.name:'Log in'
          a(href='/profile') Profile
          a(href='/auth/logout') Log out
        else
          a(href='/login') Log in
        if user && user.profile
          img.avatar(src='/images/profile/' + user._id)
        else
          img.avatar.default(src='/images/profile-blank.png')

    .content
      block content
    .footer
      p The #1 dating website by trees, for trees. &mdash; &copy; 2018 Timbr
