extends layout

block content
  .matches
    for suggestion in suggestions
      .match
        div
          img(src='/images/profile/' + suggestion._id)
          div
            h4= suggestion.name
            p #{suggestion.compatibility}% compatible
        .interests
          - var filteredInterests = suggestion.interests.filter(i=>user.interests.indexOf(i) >= 0)
          if filteredInterests.length > 0
            for interest in filteredInterests
              span.interest.shared= interest