extends layout

block content
  .profile
    .hero
      img(src='/images/banner/' + profile._id)
    .text
      .blurb
        img(src='/images/profile/' + profile._id)
        h3= profile.name
        p= profile.description || 'This user has not provided a bio.'
        .buttons
          if user._id === profile._id
            a(href='/profile/edit') Edit
          else
            if user.blocked.join('-').includes(profile._id)
              a(href='/social/unblock/' + profile._id).block Unblock
            else
              a(href='/social/block/' + profile._id).block Block
            a(href='/social/message/' + profile._id) Message
      .interests
        h4 Interests
        if profile.interests.length > 0
          for interest in profile.interests
            span.interest(class=(user.interests.indexOf(interest) >= 0)?'shared':'')= interest
        else
          span No interests
        if profile._id != user._id
          - // Compatibility computation quite simple
          - var totalInterests = profile.interests.concat(user.interests).filter((v,i,self)=>self.indexOf(v) === i).length
          - var matchedInterests = profile.interests.filter(v=>user.interests.indexOf(v) >= 0).length
          - var compatibility = (matchedInterests / totalInterests * 100).toFixed(0)
          if isNaN(compatibility)
            - compatibility = 0

          h5 Compatibility
          p #{compatibility}% compatible
        else
          p
            a(href='/') Find people

